In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('./study_information.csv',encoding = 'gbk')

In [12]:
data

        user_id course_id course_join_time learn_process  price
0           用户3     课程106  2020/4/21 10:11            0%    0.0
1           用户3     课程136   2020/3/5 11:44            1%    0.0
2           用户3     课程205  2018/9/10 18:17           63%    0.0
3           用户4      课程26  2020/3/31 10:52            0%  319.0
4           用户4      课程34  2020/3/31 10:52            0%  299.0
...         ...       ...              ...           ...    ...
194969  用户44245      课程76  2020/6/17 22:16            0%    0.0
194970  用户44246      课程76  2020/6/17 22:36            4%    0.0
194971  用户44247      课程19   2020/6/18 7:54          100%  499.0
194972  用户44247      课程32   2020/6/18 7:41            0%  499.0
194973  用户44247      课程76   2020/6/18 8:15            4%    0.0

[194974 rows x 5 columns]

In [14]:
#对其将字符串改为数值类型
n = len(data['learn_process'])
for i in range(n):
    int_value = int((data['learn_process'])[i][:-1])
    data['learn_process'][i] = int_value

D:\Study\anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
# data['learn_process'] = data['learn_process'].astype(int)
# learn_mean = data.groupby('user_id')['learn_process'].mean()
# learn_mean_top = learn_mean.sort_values(ascending=False)
# learn_ser = (learn_mean_top>=0)
# learn_100 = learn_ser.to_frame()

In [ ]:
# study_100 = list(learn_ser[learn_ser].axes)
# study_list = []       #要提取的列表
# for i in range(len(study_100[0])):
#     study_list.append(study_100[0][i])

In [ ]:
# # 选出学习进度为100的学习详细表数据
# loc_ = []
# for i in range(n):
#     if data['user_id'][i] in (study_list):
#         loc_.append(True)
#     else:
#         loc_.append(False)
# data_top = data[loc_]

In [ ]:
# value = list(data_top['price'].value_counts().index)
# count = list(data_top['price'].value_counts())
# #plt.bar(value,count,width = 0.5)

In [25]:
# excel = data_top['price'].value_counts().to_frame()
# excel.to_excel('./总学习进度为0%以上的课程价格与用户学习数.xlsx')
data1 = data[data['price'].notnull()]

In [35]:
price_learn = data.groupby('price').mean()['learn_process']

DataError: No numeric types to aggregate

In [81]:
price_learn.to_excel('./不同价格的课程的平均学习进度.xlsx')

In [30]:
data.groupby('price').descr

       user_id                      course_id                       \
         count unique      top freq     count unique    top   freq
price
0.0      71088  32342     用户24   41     71088    111   课程76  13265
29.0       179    179  用户21940    1       179      1   课程97    179
49.0       184    184  用户21940    1       184      1   课程87    184
59.0       188    188  用户21940    1       188      1   课程99    188
79.0      1032    588   用户1316   10      1032     11   课程86    302
99.0      1513    920  用户28304    5      1513      5   课程98    574
109.0    11352  10502  用户18127    4     11352      5   课程31   9521
129.0    19787   6251   用户6595    7     19787      7  课程163   4067
159.0      722    541  用户16936    2       722      2    课程7    397
169.0      162    162  用户13885    1       162      1   课程21    162
179.0     3053   2975  用户35259    2      3053      2  课程203   2637
199.0    32136   8255  用户36580   30     32136     46  课程141   4429
219.0      242    241  用户18127    2       242      2  课程154    230
229.0        8      8      用户4    1         8      1  课程228      8
299.0    29681  12347  用户18127    8     29681     10   课程17   8505
319.0     4844   4797  用户37145    2      4844      3   课程26   4716
369.0      769    769  用户33845    1       769      1    课程4    769
399.0      594    594  用户21298    1       594      1  课程143    594
499.0     7712   5971   用户4177    8      7712     10   课程40   4014
600.0      840    840  用户23265    1       840      1   课程14    840
700.0      336    335  用户16489    2       336      2   课程89    272
800.0       28     28  用户11356    1        28      2   课程15     27
899.0     1131    870  用户10085    3      1131      5  课程214    563
999.0      222    111  用户17073    2       222      2  课程231    111
1299.0     110    110  用户12094    1       110      2  课程212     93
3000.0    2823   1028  用户37710    3      2823      4  课程173    985

       course_join_time                               learn_process         \
                  count unique              top  freq         count unique
price
0.0               71088  40161  2020/6/11 14:21  2501         71088    100
29.0                179     65   2019/10/9 9:34   103           179      5
49.0                184     69   2019/10/9 9:32   103           184      8
59.0                188     72   2019/10/9 9:34   103           188      8
79.0               1032    424   2019/5/5 16:31   132          1032     32
99.0               1513    790   2019/10/9 9:31   103          1513     41
109.0             11352   2984  2020/2/17 10:14   282         11352     97
129.0             19787   6023  2020/3/12 15:12   480         19787     39
159.0               722    232   2019/10/9 9:31    99           722     43
169.0               162     42    2019/9/9 9:52    52           162     20
179.0              3053   1416    2020/4/1 9:38  1190          3053     27
199.0             32136   6795    2020/4/1 9:39  1210         32136     94
219.0               242    170   2020/5/20 9:46    39           242     17
229.0                 8      6  2019/6/12 14:24     3             8      3
299.0             29681   7234  2020/3/12 15:11   478         29681     99
319.0              4844   2422  2020/3/12 15:09   239          4844     56
369.0               769    208  2020/3/12 12:17   106           769     77
399.0               594    295  2020/4/27 16:56    60           594     46
499.0              7712   3995  2020/3/12 15:08   240          7712     96
600.0               840     16  2020/6/12 17:57   154           840      3
700.0               336     11   2020/6/11 9:49   263           336      3
800.0                28      3  2020/6/12 11:32    26            28      3
899.0              1131    322   2020/6/1 11:47    97          1131     65
999.0               222     12  2019/10/8 22:41    86           222      1
1299.0              110     26  2019/6/11 16:18    43           110     18
3000.0             2823     15  2020/4/20 11:13  1572          2823     22


        top   freq
price
0.0       0  43389
29.0      0    152
49.0      0     98
59.0      0    160
79.0      0    709
99.0      0   1130
109.0     0   5621
129.0     0  18623
159.0     0    520
169.0    99     80
179.0     0   2511
199.0     0  24875
219.0     0    161
229.0     0      6
299.0     0  21916
319.0     0   4101
369.0     0    271
399.0     0    395
499.0     0   5978
600.0     0    437
700.0   100    284
800.0   100     19
899.0     0    599
999.0     0    222
1299.0   85     23
3000.0    0   2737

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194974 entries, 0 to 194973
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           194974 non-null  object
 1   course_id         194974 non-null  object
 2   course_join_time  194974 non-null  object
 3   learn_process     194974 non-null  object
 4   price             190736 non-null  float64
dtypes: float64(1), object(4)
memory usage: 7.4+ MB