In [3]:
import pandas as pd
import numpy as np

In [4]:
data1 = pd.read_excel('./data/附件1.xlsx')
data2 = pd.read_csv('./data/附件2.csv')
data3 = pd.read_excel('./data/附件3.xlsx')

In [5]:
data1.columns =['TICKER_SYMBOL','industry']
data1['TICKER_SYMBOL']=pd.DataFrame(data1['TICKER_SYMBOL'].astype(int))

In [6]:
data2 = pd.merge(data2,data1,how = 'left',on = 'TICKER_SYMBOL')

In [8]:
data1

      TICKER_SYMBOL          industry
0              4019               制造业
1              4213               制造业
2              8166               制造业
3              9063            批发和零售业
4             10083   信息传输、软件和信息技术服务业
...             ...               ...
4158        4993201               制造业
4159        4993297  电力、热力、燃气及水生产和供应业
4160        4997833        科学研究和技术服务业
4161        4998808               制造业
4162        4999709               制造业

[4163 rows x 2 columns]

In [9]:
data2

,TICKER_SYMBOL,ACT_PUBTIME,PUBLISH_DATE,END_DATE_REP,END_DATE,REPORT_TYPE,FISCAL_PERIOD,MERGED_FLAG,ACCOUTING_STANDARDS,CURRENCY_CD,...,OPER_CYCLE,INVEN_TURNOVER,FA_TURNOVER,TFA_TURNOVER,DAYS_AP,DAYS_INVEN,TA_TURNOVER,AR_TURNOVER,FLAG,industry
0,4019,3,3,2,1,A,12,1,CHAS_2007,CNY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,制造业
1,8166,3,3,2,1,A,12,1,CHAS_2007,CNY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,制造业
2,9063,3,3,2,1,A,12,1,CHAS_2007,CNY,...,148.8938,7.4240,20.9362,15.2980,75.4337,48.4911,1.2774,3.5856,0.0,批发和零售业
3,10083,4,4,4,1,A,12,1,CHAS_2007,CNY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,信息传输、软件和信息技术服务业
4,11737,3,3,2,1,A,12,1,CHAS_2007,CNY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,制造业
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22208,4993201,7,7,7,6,A,12,1,CHAS_2007,CNY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,制造业
22209,4993297,7,7,7,6,A,12,1,CHAS_2007,CNY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,电力、热力、燃气及水生产和供应业
22210,4997833,7,7,7,6,A,12,1,CHAS_2007,CNY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,科学研究和技术服务业
22211,4998808,7,7,7,6,A,12,1,CHAS_2007,CNY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,制造业
22212,4999709,7,7,7,6,A,12,1,CHAS_2007,CNY,...,23.0840,21.9179,0.6571,0.6256,33.6589,16.4249,0.3692,54.0618,NaN,制造业

In [10]:
data3['单位'].value_counts()

元      208
%      114
元/股     15
次        7
天/次      3
Name: 单位, dtype: int64

In [13]:
list(data3[data3['单位'] == '天/次']['字段名'])

['DAYS_AR', 'OPER_CYCLE', 'DAYS_AP']

* 1）元

In [17]:
data2[list(data3[data3['单位'] == '元']['字段名'])].describe()

,CASH_C_EQUIV,SETT_PROV,LOAN_TO_OTH_BANK_FI,TRADING_FA,NOTES_RECEIV,AR,PREPAYMENT,PREMIUM_RECEIV,REINSUR_RECEIV,REINSUR_RESER_RECEIV,...,T_RE,DA,VAL_CHG_PROFIT,INT_DEBT,N_INT_EXP,IC,FCFE,T_FIXED_ASSETS,NR_PROFIT_LOSS,GROSS_PROFIT
count,2.221200e+04,4.600000e+02,4.010000e+02,4.095000e+03,1.760300e+04,2.147100e+04,2.162200e+04,2.290000e+02,2.220000e+02,1.910000e+02,...,7.076000e+03,6.305000e+03,7.238000e+03,7.093000e+03,7.085000e+03,6.568000e+03,7.074000e+03,7.093000e+03,6.595000e+03,7.049000e+03
mean,6.835829e+09,3.489546e+09,5.140800e+10,6.392275e+09,3.417385e+08,1.024356e+09,2.851272e+08,1.918813e+09,7.412251e+08,5.440517e+08,...,4.140310e+09,6.915310e+08,3.390577e+08,7.036185e+09,2.216410e+08,1.580409e+10,3.848626e+08,6.285919e+09,1.125111e+08,2.306089e+09
std,9.737492e+10,5.919051e+09,1.214554e+11,4.223023e+10,1.622657e+09,5.029145e+09,1.815451e+09,7.408536e+09,2.923931e+09,2.781691e+09,...,3.013227e+10,6.509474e+09,3.699181e+09,2.980712e+10,9.327207e+08,6.948141e+10,4.060415e+09,3.443387e+10,4.938025e+08,1.517901e+10
min,1.171691e+04,0.000000e+00,0.000000e+00,-6.852000e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,-2.537103e+10,-9.402187e+06,-3.063560e+09,-1.000000e+02,-1.451871e+09,-2.805949e+09,-4.699919e+10,0.000000e+00,-1.361500e+10,-1.059324e+10
25%,1.608344e+08,0.000000e+00,0.000000e+00,8.008438e+05,8.811890e+06,9.319674e+07,7.280916e+06,0.000000e+00,0.000000e+00,0.000000e+00,...,5.230411e+07,3.825682e+07,0.000000e+00,1.438192e+08,8.384648e+05,1.752017e+09,-1.658636e+08,2.008386e+08,5.452723e+06,1.453885e+08
50%,4.075995e+08,1.115415e+09,2.000000e+08,1.340172e+07,4.416010e+07,2.489112e+08,2.669314e+07,0.000000e+00,0.000000e+00,0.000000e+00,...,6.331621e+08,1.043874e+08,1.081829e+07,9.782851e+08,2.962771e+07,4.144606e+09,8.752734e+06,8.269241e+08,2.681566e+07,5.086815e+08
75%,1.116981e+09,4.210955e+09,2.137656e+10,1.599653e+08,1.709739e+08,6.512958e+08,1.059012e+08,0.000000e+00,0.000000e+00,0.000000e+00,...,2.121386e+09,3.002651e+08,8.204526e+07,3.954419e+09,1.318495e+08,1.082081e+10,3.121142e+08,2.985201e+09,9.530218e+07,1.482064e+09
max,3.610000e+12,3.606878e+10,7.820000e+11,8.250000e+11,5.048057e+10,1.680000e+11,7.595090e+10,6.715000e+10,2.201200e+10,1.787200e+10,...,9.200000e+11,2.230000e+11,1.440000e+11,7.560000e+11,2.230900e+10,2.110000e+12,1.020000e+11,9.140000e+11,1.725900e+10,5.560000e+11

* 2）%

In [18]:
data2[list(data3[data3['单位'] == '%']['字段名'])].describe()

,P_FIXA_O_DA,N_CF_OPA_R,N_CF_IA_PROPT,CFSGS_R,N_CF_OPA_OPAP,N_CF_OPA_TR,N_CF_OPA_OP,N_CF_FA_PROPT,C_RCVRY_A,AR_R,...,TCOGS_TR,FV_CHG_G_TR,TP_TR,NOPL_TR,ADMIN_EXP_TR,EBITDA_TR,BTAX_SURCHG_TR,IT_TR,EBIT_TR,OP_TP
count,6238.000000,7.053000e+03,7.184000e+03,6891.000000,7.081000e+03,7.053000e+03,7081.000000,7.023000e+03,7080.000000,6451.000000,...,7.203000e+03,2284.000000,7.207000e+03,7.088000e+03,7.206000e+03,6416.000000,7174.000000,7001.000000,7.058000e+03,7239.000000
mean,3.007272,-5.163376e+02,-4.959990e+02,102.783820,-3.957884e+02,-3.960331e+02,215.885249,6.674143e+02,3.292168,34.899201,...,5.437054e+03,0.729356,5.480364e+03,8.505199e+02,8.195900e+02,13.222052,2.330707,2.485577,8.946655e+03,69.084701
std,36.748979,3.160317e+04,3.920007e+04,46.180542,2.721885e+04,2.968369e+04,9611.437913,3.640711e+04,17.220363,1089.488570,...,4.366791e+05,17.864422,1.064786e+06,5.989995e+04,5.791014e+04,113.984061,14.767091,9.909017,9.937054e+05,968.263093
min,-1.180700,-2.471596e+06,-2.648129e+06,0.000000,-1.977562e+06,-2.471596e+06,-262982.783700,-7.572273e+05,-674.666600,0.000000,...,-1.393472e+02,-60.045700,-3.730695e+07,-2.818200e+00,1.388000e-01,-4444.256600,-54.390200,-350.450900,-1.405397e+07,-71166.149900
25%,0.515150,-1.093800e+00,-1.203902e+02,88.911250,-3.197260e+01,-1.093800e+00,-17.456500,-7.655460e+01,-0.478900,3.974250,...,8.899710e+01,-0.040925,1.899200e+00,4.440000e-02,4.771800e+00,6.770025,0.457725,0.441800,3.415175e+00,85.138250
50%,1.159100,6.599700e+00,1.131850e+00,102.601400,8.469770e+01,6.598700e+00,77.607700,3.806980e+01,3.647850,12.183700,...,9.621090e+01,0.000900,6.650000e+00,1.279000e-01,8.230900e+00,13.298000,0.867350,1.343800,8.438650e+00,97.706500
75%,2.203675,1.691340e+01,1.271343e+02,112.495800,2.021226e+02,1.690840e+01,187.270700,2.034382e+02,8.242750,25.892050,...,1.010347e+02,0.088775,1.523530e+01,3.571750e-01,1.357810e+01,23.315075,1.830000,3.026600,1.708257e+01,100.258600
max,2468.116400,5.058239e+04,1.015211e+06,1637.389800,1.611430e+05,6.515101e+03,606182.480900,2.643549e+06,565.391100,87363.949700,...,3.704939e+07,708.280100,8.216243e+07,4.928654e+06,4.831230e+06,2484.959200,1122.941700,420.465500,8.213909e+07,22716.240800

* 3） 元/股

In [20]:
#理论上挺正常的
data2[list(data3[data3['单位'] == '元/股']['字段名'])].describe()

,EPS,FCFE_PS,T_RE_PS,N_CF_OPER_A_PS,RESER_PS,EBIT_PS,N_ASSET_PS,RE_PS,OP_PS,REV_PS,N_C_IN_CASH_PS,S_RESER_PS,T_REV_PS,FCFF_PS,C_RESER_PS
count,7138.000000,6983.000000,6981.000000,7124.000000,6931.000000,6995.000000,6642.000000,7135.000000,7138.000000,7121.000000,7124.000000,6981.000000,7117.000000,6874.000000,7077.000000
mean,0.331794,0.220476,1.460573,0.118925,1.976928,0.545358,4.353232,1.126514,0.437655,7.380811,0.128688,0.303682,7.430321,-0.037787,1.659748
std,1.898451,4.104406,4.441558,18.653854,5.167550,1.276866,9.678235,3.594061,2.435959,15.918254,2.960490,0.953788,16.010349,2.205483,4.322459
min,-6.691000,-92.596700,-21.055000,-1290.257900,-3.131500,-6.534700,-12.927100,-21.351400,-6.693600,0.000000,-192.652200,0.000000,0.000000,-106.833600,-4.144200
25%,0.041350,-0.298050,0.263500,-0.018700,0.677700,0.113100,2.192525,0.123600,0.027925,1.719700,-0.171850,0.088200,1.733800,-0.279200,0.434300
50%,0.189600,0.036600,1.040100,0.248200,1.445000,0.346000,3.514700,0.839500,0.227700,3.722800,0.024400,0.185200,3.734100,0.010300,1.121700
75%,0.470975,0.477900,2.197000,0.748000,2.459000,0.746250,5.353675,1.825600,0.592650,7.740200,0.320125,0.357000,7.763000,0.356650,2.125000
max,105.659000,215.610700,231.976400,141.917800,258.897400,50.549100,673.443400,176.576500,127.649700,504.865000,77.355500,55.399900,505.392500,40.105100,203.497500

In [35]:
data2['EPS'].sort_values()

760     -6.6910
19186   -6.6895
17470   -5.6698
20311   -4.8770
18657   -4.5205
          ...
22206       NaN
22208       NaN
22209       NaN
22210       NaN
22211       NaN
Name: EPS, Length: 22213, dtype: float64

* 4）次

In [21]:
# 字段：AP_TURNOVER；索引：5170 —— 》应该有异常
# 字段：INVEN_TURNOVER；索引：5170 —— 》应该有异常
data2[list(data3[data3['单位'] == '次']['字段名'])].describe()

,AP_TURNOVER,CA_TURNOVER,INVEN_TURNOVER,FA_TURNOVER,TFA_TURNOVER,TA_TURNOVER,AR_TURNOVER
count,6506.000000,7070.000000,6875.000000,6555.000000,6555.000000,7070.000000,6460.000000
mean,11.583013,1.442140,86.438625,22.336817,84.440128,0.681752,236.863665
std,75.718487,1.408040,2722.189233,204.905096,3666.928876,0.817827,5777.612201
min,-0.043400,0.000000,-0.003800,0.000000,0.000000,0.000000,0.000000
25%,2.865100,0.641250,1.778800,1.339500,1.157500,0.306925,4.068550
50%,4.833300,1.113200,4.096700,2.985500,2.638100,0.531100,8.544400
75%,8.423725,1.821675,9.070350,7.318300,6.541950,0.842850,24.830825
max,3108.971000,37.181300,212866.967700,6456.440700,286646.386700,35.408800,436139.524700

* 5）天/次

In [22]:
# 字段：OPER_CYCLE；索引：5170   ——》 应该有异常
# 字段：DAYS_AP；5170   ——》 应该有异常
data2[list(data3[data3['单位'] == '天/次']['字段名'])].describe()

             DAYS_AR     OPER_CYCLE       DAYS_AP
count    6456.000000    7090.000000  6.505000e+03
mean      125.460124     594.102291  2.635998e+03
std      3923.023795    7104.169297  1.914951e+05
min         0.000800  -93294.311000 -8.303278e+03
25%        14.491825      68.272750  4.285190e+01
50%        42.099900     148.573950  7.469720e+01
75%        88.399950     300.421875  1.265480e+02
max    314510.219000  410193.501800  1.543220e+07

* 6） nun

In [27]:
data2[list(data3[data3['单位'].isnull()]['字段名'])].describe()

,TICKER_SYMBOL,ACT_PUBTIME,PUBLISH_DATE,END_DATE_REP,END_DATE,FISCAL_PERIOD,MERGED_FLAG,TIMES_INTE_CF,TIMES_INTE_EBITDA,TIMES_INTE_EBIT,EQU_MULTIPLIER,DAYS_INVEN,FLAG
count,2.221300e+04,22213.000000,22213.000000,22213.000000,22213.000000,22213.0,22213.0,3702.000000,3688.000000,3704.000000,6834.000000,6874.000000,18060.000000
mean,2.446591e+06,5.442354,5.442354,4.706928,3.670958,12.0,1.0,155.942747,116.943993,89.084654,3.150339,494.939582,0.009967
std,1.454322e+06,1.598236,1.598236,1.767660,1.692294,0.0,0.0,2907.274313,2028.422536,1843.783736,24.154785,6102.924234,0.099338
min,4.019000e+03,2.000000,2.000000,1.000000,1.000000,12.0,1.0,-14477.976840,-27823.709690,-29027.716210,-954.239200,-93845.237500,0.000000
25%,1.166435e+06,4.000000,4.000000,3.000000,2.000000,12.0,1.0,1.549596,2.883846,1.567836,1.510375,39.861450,0.000000
50%,2.433076e+06,6.000000,6.000000,5.000000,4.000000,12.0,1.0,5.662528,6.324852,3.986302,2.037550,88.143650,0.000000
75%,3.683801e+06,7.000000,7.000000,6.000000,5.000000,12.0,1.0,18.233557,17.975983,12.560249,3.048675,203.024975,0.000000
max,4.999709e+06,7.000000,7.000000,7.000000,6.000000,12.0,1.0,133876.542000,88608.322820,81193.360130,1557.429400,410193.501800,1.000000